# Note :    Riêng **Colab** phải **Ctrl+S** hoặc **Save** thì mới update được nha mọi người.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import pyplot
# from sklearn.model_selection import train_test_split

# 1.Data Preparation

## 1.1. Data Shuffling

### 1.1.1 Daily Activity

In [2]:
# Correct URL to the raw CSV file on GitHub
dailyActivity = pd.read_csv('../data/dailyActivity_merged.csv')
dailyActivity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [ ]:
dailyActivity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    int64
 1   ActivityDate              457 non-null    object
 2   TotalSteps                457 non-null    int64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    int64
 11  FairlyActiveMinutes       457 non-null    int64
 12  LightlyActiveMinutes      457 non-null    int64
 13  SedentaryMinutes          457 non-null    int64
 14  Calories                  457 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 53.7+ KB

In [18]:
from sklearn.utils import shuffle

dailyActivity = shuffle(dailyActivity)
dailyActivity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
194,4020332650,4/10/2016,5129,3.68,3.68,0.0,0.18,0.24,3.21,0.01,5,7,176,1178,2817
340,6391747486,4/7/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0,0,0,1440,1822
174,4020332650,3/21/2016,8778,6.29,6.29,0.0,0.00,0.00,0.00,0.00,0,0,0,1440,3348
445,8877689391,4/1/2016,18700,15.82,15.82,0.0,8.70,0.16,6.91,0.00,67,3,247,1123,3527
189,4020332650,4/5/2016,6880,4.93,4.93,0.0,0.50,0.76,3.65,0.00,7,19,165,1249,2966

### 1.1.2. Heart Rate Second

In [3]:
# Correct URL to the raw CSV file on GitHub
heartRate = pd.read_csv('../data/heartrate_seconds_merged.csv')
heartRate.head()

           Id                  Time  Value
0  2022484408  4/12/2016 7:21:00 AM     97
1  2022484408  4/12/2016 7:21:05 AM    102
2  2022484408  4/12/2016 7:21:10 AM    105
3  2022484408  4/12/2016 7:21:20 AM    103
4  2022484408  4/12/2016 7:21:25 AM    101

In [12]:
heartRate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Time    object
 2   Value   int64
dtypes: int64(2), object(1)
memory usage: 56.8+ MB

In [19]:
from sklearn.utils import shuffle

heartRate = shuffle(heartRate)
heartRate.head()

                 Id                  Time  Value
1893813  6962181067  4/30/2016 9:05:45 AM     85
1899425  6962181067  5/1/2016 12:42:15 AM     72
712170   4388161847  4/26/2016 7:27:30 PM     68
818756   4388161847  5/9/2016 10:44:40 AM     60
1011174  4558609924   5/8/2016 4:44:25 PM    108

### 1.1.3. Hourly Calories

In [4]:
# Correct URL to the raw CSV file on GitHub
hourlyCalories = pd.read_csv('../data/hourlyCalories_merged.csv')
hourlyCalories.head()

           Id           ActivityHour  Calories
0  1503960366  3/12/2016 12:00:00 AM        48
1  1503960366   3/12/2016 1:00:00 AM        48
2  1503960366   3/12/2016 2:00:00 AM        48
3  1503960366   3/12/2016 3:00:00 AM        48
4  1503960366   3/12/2016 4:00:00 AM        48

In [ ]:
hourlyCalories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24084 entries, 0 to 24083
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            24084 non-null  int64
 1   ActivityHour  24084 non-null  object
 2   Calories      24084 non-null  int64
dtypes: int64(2), object(1)
memory usage: 564.6+ KB

In [ ]:
from sklearn.utils import shuffle

hourlyCalories = shuffle(hourlyCalories)
hourlyCalories.head()

               Id           ActivityHour  Calories
8363   3977333714  3/19/2016 12:00:00 PM        75
13962  5553957443   4/6/2016 12:00:00 PM        77
8498   3977333714   3/25/2016 3:00:00 AM        42
7951   3372868164  3/31/2016 11:00:00 PM        56
20670  8253242879   3/22/2016 1:00:00 PM        60

### 1.1.4. Hourly Intensities

In [5]:
# Correct URL to the raw CSV file on GitHub
hourlyIntensities = pd.read_csv('../data/hourlyCalories_merged.csv')
hourlyIntensities.head()

           Id           ActivityHour  Calories
0  1503960366  3/12/2016 12:00:00 AM        48
1  1503960366   3/12/2016 1:00:00 AM        48
2  1503960366   3/12/2016 2:00:00 AM        48
3  1503960366   3/12/2016 3:00:00 AM        48
4  1503960366   3/12/2016 4:00:00 AM        48

In [21]:
hourlyIntensities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24084 entries, 0 to 24083
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            24084 non-null  int64
 1   ActivityHour  24084 non-null  object
 2   Calories      24084 non-null  int64
dtypes: int64(2), object(1)
memory usage: 564.6+ KB

In [22]:
from sklearn.utils import shuffle

hourlyIntensities = shuffle(hourlyIntensities)
hourlyIntensities.head()

               Id           ActivityHour  Calories
15172  6117666160   3/26/2016 4:00:00 AM        63
23785  8877689391  3/30/2016 10:00:00 PM       111
15453  6117666160    4/6/2016 9:00:00 PM       108
4656   2026352035   3/20/2016 4:00:00 AM        47
18982  7086361926  3/14/2016 11:00:00 PM        71

### 1.1.5. Sleep Day

In [6]:
# Correct URL to the raw CSV file on GitHub
sleepDay = pd.read_csv('../data/sleepDay_merged.csv')
sleepDay.head()

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,4/12/2016 12:00:00 AM,1,327,346
1,1503960366,4/13/2016 12:00:00 AM,2,384,407
2,1503960366,4/15/2016 12:00:00 AM,1,412,442
3,1503960366,4/16/2016 12:00:00 AM,2,340,367
4,1503960366,4/17/2016 12:00:00 AM,1,700,712

In [24]:
sleepDay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  413 non-null    int64
 1   SleepDay            413 non-null    object
 2   TotalSleepRecords   413 non-null    int64
 3   TotalMinutesAsleep  413 non-null    int64
 4   TotalTimeInBed      413 non-null    int64
dtypes: int64(4), object(1)
memory usage: 16.3+ KB

In [25]:
from sklearn.utils import shuffle

sleepDay = shuffle(sleepDay)
sleepDay.head()

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
203,4702921684,4/15/2016 12:00:00 AM,1,253,257
182,4445114986,4/30/2016 12:00:00 AM,1,322,353
341,7086361926,4/14/2016 12:00:00 AM,1,472,476
225,4702921684,5/10/2016 12:00:00 AM,1,416,431
241,5553957443,4/25/2016 12:00:00 AM,1,433,468

### 1.1.6. Weight Info

In [7]:
# Correct URL to the raw CSV file on GitHub
weightLogInfo = pd.read_csv('../data/weightLogInfo_merged.csv')
weightLogInfo.head()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.650000,True,1462233599000
1,1503960366,5/3/2016 11:59:59 PM,52.599998,115.963147,NaN,22.650000,True,1462319999000
2,1927972279,4/13/2016 1:08:52 AM,133.500000,294.317120,NaN,47.540001,False,1460509732000
3,2873212765,4/21/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1461283199000
4,2873212765,5/12/2016 11:59:59 PM,57.299999,126.324875,NaN,21.690001,True,1463097599000

In [27]:
weightLogInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     object
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     int64
dtypes: bool(1), float64(4), int64(2), object(1)
memory usage: 3.9+ KB

In [28]:
from sklearn.utils import shuffle

weightLogInfo = shuffle(weightLogInfo)
weightLogInfo.head()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
7,4558609924,4/18/2016 11:59:59 PM,69.699997,153.662190,NaN,27.250000,True,1461023999000
62,8877689391,5/6/2016 6:43:35 AM,85.000000,187.392923,NaN,25.440001,False,1462517015000
50,8877689391,4/21/2016 6:50:27 AM,84.500000,186.290612,NaN,25.290001,False,1461221427000
25,6962181067,4/24/2016 11:59:59 PM,61.500000,135.584291,NaN,24.000000,True,1461542399000
24,6962181067,4/23/2016 11:59:59 PM,61.500000,135.584291,NaN,24.000000,True,1461455999000

## 1.2. Data Preprocessing

### 1.2.1. Cleaning the datasets

#### 1.2.1.a. Convert all the date columns into datetime object and rename it as ActivityDate

In [8]:
dailyActivity['ActivityDate'] = pd.to_datetime(dailyActivity['ActivityDate'])

In [9]:
def process_dataframe(df):
    # converting date column to datetime
    date_col = df.columns[1]
    df[date_col] = pd.to_datetime(df[date_col])

    # Creating separate 'date' and 'time' columns
    df['ActivityDate'] = df[date_col].dt.date
    df['ActivityTime'] = df[date_col].dt.strftime('%I:%M:%S %p')
    df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])
    df.drop(columns=[date_col],inplace=True)

    return df

dataframes = [sleepDay, hourlyCalories, hourlyIntensities, heartRate, weightLogInfo]

for i, df in enumerate(dataframes):
    dataframes[i] = process_dataframe(df)

for i, df in enumerate(dataframes, 1):
    print(f"DataFrame {i}:\n", df.head())
    print(df['ActivityDate'].dtypes)

C:\Users\outta\AppData\Local\Temp\ipykernel_21328\416243218.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_col] = pd.to_datetime(df[date_col])
C:\Users\outta\AppData\Local\Temp\ipykernel_21328\416243218.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_col] = pd.to_datetime(df[date_col])
C:\Users\outta\AppData\Local\Temp\ipykernel_21328\416243218.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_col] = pd.to_datetime(df[date_col])

DataFrame 1:
            Id  TotalSleepRecords  TotalMinutesAsleep  TotalTimeInBed  \
0  1503960366                  1                 327             346
1  1503960366                  2                 384             407
2  1503960366                  1                 412             442
3  1503960366                  2                 340             367
4  1503960366                  1                 700             712

  ActivityDate ActivityTime
0   2016-04-12  12:00:00 AM
1   2016-04-13  12:00:00 AM
2   2016-04-15  12:00:00 AM
3   2016-04-16  12:00:00 AM
4   2016-04-17  12:00:00 AM
datetime64[ns]
DataFrame 2:
            Id  Calories ActivityDate ActivityTime
0  1503960366        48   2016-03-12  12:00:00 AM
1  1503960366        48   2016-03-12  01:00:00 AM
2  1503960366        48   2016-03-12  02:00:00 AM
3  1503960366        48   2016-03-12  03:00:00 AM
4  1503960366        48   2016-03-12  04:00:00 AM
datetime64[ns]
DataFrame 3:
            Id  Calories ActivityDate ActivityTime
0  1503960366        48   2016-03-12  12:00:00 AM
1  1503960366        48   2016-03-12  01:00:00 AM
2  1503960366        48   2016-03-12  02:00:00 AM
3  1503960366        48   2016-03-12  03:00:00 AM
4  1503960366        48   2016-03-12  04:00:00 AM
datetime64[ns]
DataFrame 4:
            Id  Value ActivityDate ActivityTime
0  2022484408     97   2016-04-12  07:21:00 AM
1  2022484408    102   2016-04-12  07:21:05 AM
2  2022484408    105   2016-04-12  07:21:10 AM
3  2022484408    103   2016-04-12  07:21:20 AM
4  2022484408    101   2016-04-12  07:21:25 AM
datetime64[ns]
DataFrame 5:
            Id    WeightKg  WeightPounds   Fat        BMI  IsManualReport  \
0  1503960366   52.599998    115.963147  22.0  22.650000            True
1  1503960366   52.599998    115.963147   NaN  22.650000            True
2  1927972279  133.500000    294.317120   NaN  47.540001           False
3  2873212765   56.700001    125.002104   NaN  21.450001            True
4  2873212765   57.299999    126.324875   NaN  21.690001            True

           LogId ActivityDate ActivityTime
0  1462233599000   2016-05-02  11:59:59 PM
1  1462319999000   2016-05-03  11:59:59 PM
2  1460509732000   2016-04-13  01:08:52 AM
3  1461283199000   2016-04-21  11:59:59 PM
4  1463097599000   2016-05-12  11:59:59 PM
datetime64[ns]

C:\Users\outta\AppData\Local\Temp\ipykernel_21328\416243218.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_col] = pd.to_datetime(df[date_col])

#### 1.2.1.b.  Check if there are any duplicate records

In [11]:
grouped = dailyActivity.groupby(['Id', 'ActivityDate']).size().reset_index(name='Count')
duplicates = grouped[grouped['Count'] > 1]
print("\n Duplicates in activity record:")
print(duplicates)

grouped1 = sleepDay.groupby(['Id', 'ActivityDate','ActivityTime','TotalSleepRecords']).size().reset_index(name='Count')
duplicates1 = grouped1[grouped1['Count'] > 1]
print("\nDuplicates in sleep record:")
print(duplicates1)

grouped2 = hourlyCalories.groupby(['Id', 'ActivityDate','ActivityTime']).size().reset_index(name='Count')
duplicates2 = grouped2[grouped2['Count'] > 1]
print("\nDuplicates in hourly calories record:")
print(duplicates2)


grouped3 = hourlyIntensities.groupby(['Id', 'ActivityDate','ActivityTime']).size().reset_index(name='Count')
duplicates3 = grouped3[grouped3['Count'] > 1]
print("\nDuplicates in hourly intensities record:")
print(duplicates3)

grouped4 = heartRate.groupby(['Id', 'ActivityDate','ActivityTime']).size().reset_index(name='Count')
duplicates4 = grouped4[grouped4['Count'] > 1]
print("\nDuplicates in heartrate seconds record:")
print(duplicates4)

 Duplicates in activity record:
Empty DataFrame
Columns: [Id, ActivityDate, Count]
Index: []

Duplicates in sleep record:
             Id ActivityDate ActivityTime  TotalSleepRecords  Count
160  4388161847   2016-05-05  12:00:00 AM                  1      2
221  4702921684   2016-05-07  12:00:00 AM                  1      2
377  8378563200   2016-04-25  12:00:00 AM                  1      2

Duplicates in hourly calories record:
Empty DataFrame
Columns: [Id, ActivityDate, ActivityTime, Count]
Index: []

Duplicates in hourly intensities record:
Empty DataFrame
Columns: [Id, ActivityDate, ActivityTime, Count]
Index: []

Duplicates in heartrate seconds record:
Empty DataFrame
Columns: [Id, ActivityDate, ActivityTime, Count]
Index: []

##### Only the SleepDay dataset has duplicates.

### 1.2.2. Test

# Selection

## Information Gain

## Forward Selection

# Mục mới

# Mục mới

# Mục mới